#sceneInteractiveView {
  display: flex;
  flex-direction: column;
}

#sceneThumb {
  width: 25%;
  background: rgba(5, 24, 56, .9);
  border-left: 6px solid rgba(112, 166, 255, .8);
}

#sceneThumbs{
  color: #f7f9ff;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

#sceneInteractiveView h1 {
  text-align: center;
}
