div {
  background: #d7d7d7;
}
#siteMenu ul {
  width: 90%;
  margin: auto;
  position: absolute;
}
#siteMenu li  {
  width: 90%;
  margin: auto;
  display: inline;
  padding: 10px;
  color: #4a8cf7;
}
li:hover {
  color: black;
}
